body {
    font-family: "Poppins", sans-serif;
}

/* dropdown sidebar administrator */
.sidebar-beranda-administrator {
    width: 250px;
    background-color: #005B94;
    color: white;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

/* sembunyikan dropdown */
.content-dropdown,
.list-content-dropdown,
.content-dropdown-button-profile {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    font-size: 12px;
}

/* hover text */
.list-item .content-menu:hover,
.toggle-menu-sidebar:hover,
.content-dropdown .link-href:hover {
    color: orange;
}

/* ketika aktif, text orange */
.list-item.active .toggle-menu-sidebar,
.toggle-sub-menu-sidebar.active,
.link-href.active,
.list-item.active > .dropdown-menu > .toggle-menu-sidebar i {
    color: orange;
}

/* open untuk dropdown utama */
.list-item.show .content-dropdown {
    opacity: 1;
}

.list-content-dropdown.show {
    opacity: 1;
}

/* hover */
.toggle-sub-menu-sidebar:hover,
.list-content-dropdown .link-href:hover {
    color: orange;
}

.list-item-button-profile.show .content-dropdown-button-profile {
    opacity: 1;
    max-height: 400px;
}

/* rotate untuk button profile navbar */
.list-item-button-profile.show #rotate-icon {
    transform: rotate(-180deg);
}

.list-item.show #rotate-icon {
    transform: rotate(-180deg);
}

/* rotate untuk dropdown sub menu */
.toggle-sub-menu-sidebar.show #rotate-icon-2 {
    transform: rotate(-180deg);
}

/* style for accordion question */
#grid-list-soal ul {
    list-style: disc !important;
    padding-left: 15px;
}

#grid-list-soal ol{
    list-style: decimal !important;
    padding-left: 24px;
}

/* buat nampilin ul dan ol yang ke hidden karena menggunakan daisy ui (CKEDITOR STYLING)*/
.ck-content ul {
    list-style-type: disc;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

.ck-content ol {
    list-style-type: decimal;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

.ck-content figure.image {
    float: left;
    margin: 0 1rem 1rem 0;
    text-align: left;
}

.ck-content figure.image img {
    width: 400px;
    display: block;
}

/* sidebar beranda siswa  */
.sidebar-beranda-student {
    width: 290px;
    background-color: #0071BC;
    color: white;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

.list-menu-sidebar-dekstop-student a.active {
    background-color: rgba(255, 255, 255, 0.15);
    border-left: 6px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
}

.list-menu-sidebar-mobile-student a.active {
    background-color: #0071BC;
    border-left: 6px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
}