body {
    font-family: "Poppins", sans-serif;
}

/* dropdown sidebar administrator */
.sidebar-beranda-administrator {
    width: 250px;
    background-color: #005B94;
    color: white;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

/* sembunyikan dropdown */
.content-dropdown,
.list-content-dropdown,
.content-dropdown-button-profile {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    font-size: 12px;
}

/* hover text */
.list-item .content-menu:hover,
.toggle-menu-sidebar:hover,
.content-dropdown .link-href:hover {
    color: orange;
}

/* ketika aktif, text orange */
.list-item.active .toggle-menu-sidebar,
.toggle-sub-menu-sidebar.active,
.link-href.active,
.list-item.active i {
    color: orange;
}

/* open untuk dropdown utama */
.list-item.show .content-dropdown {
    opacity: 1;
}

.list-content-dropdown.show {
    opacity: 1;
}

/* hover */
.toggle-sub-menu-sidebar:hover,
.list-content-dropdown .link-href:hover {
    color: orange;
}

.list-item-button-profile.show .content-dropdown-button-profile {
    opacity: 1;
    max-height: 400px;
}

/* rotate untuk button profile navbar */
.list-item-button-profile.show #rotate-icon {
    transform: rotate(-180deg);
}

.list-item.show #rotate-icon {
    transform: rotate(-180deg);
}

/* rotate untuk dropdown sub menu */
.toggle-sub-menu-sidebar.show #rotate-icon-2 {
    transform: rotate(-180deg);
}

/* style for accordion question */
#grid-list-soal ul {
    list-style: disc !important;
    padding-left: 15px;
}

#grid-list-soal ol{
    list-style: decimal !important;
    padding-left: 24px;
}